@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');


@font-face {
  font-family: 'MonumentExtended';
  src: url('/fonts/MonumentExtended-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007F;
}

* {
  font-family: 'MonumentExtended', 'Pretendard', sans-serif;
}

ol, ul, li{
  list-style: none;
}