.background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.black-background {
  background-color: black;
  width: 100%;
  padding-top: 50px;
}

.home-title {
  color: white;
  font-size: 105px;
  text-align: center;
  padding-top: 150px;

  text-shadow: 
  2px 2px 0px rgba(0, 0, 0, 0.3),
  -2px 2px 0px rgba(0, 0, 0, 0.3), 
  2px -2px 0px rgba(0, 0, 0, 0.3),
  -2px -2px 0px rgba(0, 0, 0, 0.3); 
}

.playlist-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 65px;
  padding: 21px 19px;
  margin-top: 30px;
  color: white;
  font-size: 20px;

  background-color: black;
  border: 2px solid white; 
  border-radius: 50px;

  transition: background-color 0.3s ease;
  transition: transform 0.3s ease;
}

.playlist-btn:hover {
  background-color: #333;
  transform: translateY(-3px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.playlist-btn-container {
  display:flex;
  justify-content: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 100px;
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
  padding: 0 50px;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
}

.text-content {
  color: white;
  width: 50%;
}

.text-content h2 {
  font-size: 50px;
  margin-bottom: 25px;
}

.text-content p {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 50px;
}

.image-content {
  width: 50%;
}

.image-content img {
  width: 100%;
  border-radius: 20px;
}


@media screen and (max-width: 1024px) and (min-width: 768px) {
  .home-title {
    font-size: 70px;
    padding-top: 100px;
  }

  .section {
    gap: 50px;
    padding: 0 10px;
  }

  .text-content h2 {
    font-size: 30px;
  }

  .text-content p {
    font-size: 18px;
  }

  .playlist-btn {
    width: 200px;
    height: 45px;
    font-size: 15px;
  }
}


@media screen and (max-width: 768px) {
  .home-title {
    font-size: 60px;
    padding-top: 80px;
  }

  .text-content h2 {
    font-size: 30px;
  }

  .text-content p {
    font-size: 20px;
  }

  .section {
    gap: 50px;
    padding: 0 50px;
  }

  .playlist-btn {
    width: 200px;
    height: 45px;
    font-size: 15px;
  }

  .section {
    flex-direction: column;
    gap: 20px;
  }

  .section:nth-child(odd) {
    flex-direction: column;
  }

  .image-content,
  .text-content {
    width: 100%; 
  }

  .section-container {
    padding: 20px; 
  }
}


